#container {
  background-color: #111111; 
}

#header #banner_image{
  min-width: 850px;
}

#body {
  width: 100%;
  min-width: 850px;
  overflow: auto;
  padding: 0 10% 0 10%;
}

#footer {
  border-top: 7px solid #a3171b;
  font-family: 'Urbanist';
}

#footer span {
  color: white;
}

#footer img {
  margin: 5px;
  width: 25px;
  height: 25px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.row .row-content {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row .row-content #hiddenInfo {
  font-family: 'Urbanist';
  font-size: 20px;
  height: fit-content;
  color: white !important;
  max-width: 20%;
  padding: 5px;
  margin: auto;
}

.row .row-content #visibleInfo {
  font-family: 'Urbanist';
  font-size: 20px;
  height: fit-content;
  color: white !important;
  text-align: left;
  max-width: 20%;
  padding: 5px;
  margin: auto;
  visibility: visible;
}

.row .row-content .rightInfo {
  border-left: 2px solid #a3171b;
}

.row .row-content .leftInfo {
  border-right: 2px solid #a3171b;
}

.row .row-content p #name {
  color: #a3171b;
  font-size: 26px;
  font-weight: bold;
}

.row .row-content p #percentage {
  color: #a3171b;
  font-size: 26px;
}

.row .row-content #pie-chart {
  min-width: 40% !important;
}

@media (max-width:1160px) {
  #body {
    padding: 0 5% 0 5%;
  }
  
  .row .row-content {
    display: flex;
    flex-direction: column;
  }

  .row .row-content .rightInfo {
    border-left: 2px solid #a3171b;
    min-width: 70%;
    height: auto;
    border: None;
  }
  
  .row .row-content .leftInfo {
    border-right: 2px solid #a3171b;
    min-width: 70%;
    height: auto;
    border: None;
  }


  .row .row-content div {
    margin: auto !important;
    min-width: fit-content;
  }
  
}

.row .row-content-map {
  min-width: 100%;
}

.row .row-content div svg {
  align-self: center;
  max-width: 100%;
  margin: 20px;
}

#mapid {
  width: 100%;
  height: 500px;
  margin: auto !important;
}

#mapid .leaflet-popup  .leaflet-zoom-animated .leaflet-popup-content-wrapper .leaflet-popup-content {
  max-width: fit-content !important;
}

#chord svg g {
  width: 100% !important;
  margin: auto;
}
#chord svg g  text {
  font-family: 'Urbanist';
}

#title {
  max-width: fit-content;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #a3171b; 
  font-weight: 700;
  padding: 10px;
  background-color: #2221219d;
  opacity: 0.8;
  border-radius: 10px 0px  10px 0px;
  font-family: 'Urbanist';
  font-weight: 700;
  font-style: italic;
  align-self: flex-start;
}

#rating-type-chart, .dc-chart, g.row, text{
  fill: white;
  font-family: 'Urbanist';
}

.dc-chart text.pie-slice{
  fill: black;
  font-weight: bold;
}

.dc-chart svg .dc-legend{
  font-family: 'Urbanist';
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 6px;
  text-align: left;
  white-space: pre-line;
}

#mapInfo {
  font-family: 'Urbanist';
  font-size: 20px;
  height: fit-content;
  color: white !important;
  text-align: left;
  padding: 5px;
  visibility: visible;
}

#mapInfo span {
  color: #a3171b;
  font-size: 26px;
  font-weight: bold;
}

#chordTooltip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  padding: 10px;
  border: solid 1px darkgray;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
}
