#container {
  background-color: black; 
}

#mapid {
  margin: 0px;
  width: 850px;
  height: 480px;
}

#title {
  margin-left: 15px;
  margin-top: 20px;
}

#rating-type-chart, .dc-chart, g.row, text{
  fill: black !important;
}